#main-container {
    width: 80%;
    height: 100%;
    text-align: center;
    margin: auto;
    border: solid;
    border-width: thin;
    background-color: lightgray;
    border-color: black;
}
header, footer {
    color: white;
    background-color: blue;
    margin: 5px 20px 5px 20px;
    padding: 10px 0px 10px 0px;
}
#middle-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: gray;
    height: 450px;
    margin: 5px 20px 5px 20px;
    padding-top: 15px;
}
#top-section {
    flex: 1;
    background-color: lightgray;
    height: 200px;
    width: 90%;
    margin: 0px 20px 5px 20px;
    font-size: 10px;
    padding-top: 3%;
}
fieldset {
    display: inline;
    margin: 2%;
}
#main-section {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: skyblue;
    height: 100%;
    width: 95%;
    margin: 0px 20px 5px 20px;
    padding: 1%;
}
#table-render-space {
    background-color: #FFD733;
    height: 100%;
    width: 95%;
    padding-top: 2%;
    padding-bottom: 2%;
}
#table-html-space {
    padding-top: 20px;
    background-color: rgb(236, 110, 14);
    height: 100%;
    width: 95%;   
}
textarea {
   resize: none;
   height: 120px;
   width: 700px;
}