#table-render-space table {

    background-color: white;
    margin: auto;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    color: black;
    width: 90%;
    border-width: thin;
}
#myTable_id td {
    border: solid;
    border-width: 1px;
}